.bg_blue {
  background-color: #2874f0;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(255 255 255);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
ul.navbar-nav.mb-2.mr-auto.mb-lg-0 {
  gap: 14px;
}
.nav-link:focus,
.nav-link:hover {
  color: rgb(255 255 255);
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  width: 232px;
  margin-top: 12px;
}
.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 6px 0px;
}
.catname {
  font-size: 14px;
}
.container-fluid.categories {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  padding: 12px 0px;
}
.items.text-center {
  cursor: pointer;
}

.slidercaro {
  padding: 16px 8px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 30%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  padding: 0;
  background: white !important;
  height: 87px;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
}

.carousel-control-prev {
  border-radius: 0px 8px 8px 0px;
  box-shadow: 8px 0px 12px 0px #0000004a;
}

.carousel-control-next {
  border-radius: 8px 0px 0px 8px;
  box-shadow: -2px 1px 12px -8px #0000004a;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1120px;
  }
}

@media (max-width: 768px) {
  .catemobile {
    overflow: scroll;
    white-space: nowrap;
    gap: 23px;
    padding-bottom: 16px;
  }
  .categories {
    padding: 11px 0px 0px 0px;
  }
  .catemobile img {
    width: 40px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

/* product slider */

.slider {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 15px;
  padding: 15px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
  box-shadow: 2px 1px 6px 0px #0000002e;
  border-radius: 8px 0px 0px 8px;
  padding: 20px 0px;
}

.ctrl-btn.pro-prev {
  left: 0;
  box-shadow: 2px 1px 6px 0px #0000002e;
  border-radius: 0px 8px 8px 0px;
  padding: 20px 0px;
}

.item.text-center img {
  height: 200px;
  object-fit: contain;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #172337;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footer-widget ul li {
  font-size: 11px;
}

.footer-widget-heading h3 {
  font-size: 12px;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #383838;
}
.copyright-text p a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 5px;
}

.text-sm {
  font-size: 10px;
}

.prodimageDiv {
  display: flex;
  justify-content: center;
  border: 1px solid #f0f0f0;
  padding: 20px;
}

.brnone {
  border-radius: 0px !important;
}

.pstop60px {
  position: sticky;
  top: 60px;
}

.breadcrumb {
  font-size: 12px;
}

.ft10 {
  font-size: 10px !important;
}
.ft12 {
  font-size: 12px !important;
}

.ft13 {
  font-size: 13px !important;
}
.ft14 {
  font-size: 14px !important;
}

span.label.label-success {
  background: #388e3c;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 11px;
  font-size: 13px;
}

.productname {
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}

img.cartpImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 6px 0px;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    background: #2874f0;
    top: 56px;
    z-index: 99999;
    width: 100%;
    padding: 12px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 9%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    padding: 0;
    background: white !important;
    height: 48px;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1;
    transition: opacity 0.15s ease;
  }
  .slider .item {
    margin-right: 0;
    padding: 0;
  }
  button.navbar-toggler.collapsed {
    border: 1px solid white;
  }

  .item.text-center img {
    height: 141px;
    object-fit: contain;
  }
  .item.text-center img {
    padding: 10px !important;
  }

  .flexwrapxs {
    flex-wrap: wrap;
  }
  button.btn.col-sm-4.col-sm-offset-2.btn-lg.me-4.brnone {
    margin: 0px !important;
  }
  button.btn.col-sm-4.col-sm-offset-2.btn-lg.me-4.brnone {
    margin-bottom: 10px !important;
  }
  .container-fluid.px-5.bg-light {
    padding: 6px 15px !important;
  }
  .row.buttons.justify-content-center {
    padding: 0px 20px;
  }
}

.page-not-found {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  color: red;
}

.page-not-found a {
  font-size: 3rem;
}

.border-1 {
  border-bottom: 1px solid transparent;
}

.border-1:hover {
  border-bottom: 1px solid black;
}

.svg {
  height: 100px;
  width: 100px;
}

.add-shadow:hover {
  box-shadow: 0 0 5px 0 gray;
  transform: scale(1.05);
}
